@import "../../../assets/styles/styles.scss";

.css-1seelp-MuiPaper-root-MuiAppBar-root {
  background-color: $fit-green !important;
  color: $fit_white !important;
}

.css-wxraro-MuiButtonBase-root-MuiButton-root {
  color: $fit-white !important;
}
