.exerciseList-container {
  margin: 10% 10% 0 10%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.circular-progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}
